<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
  <form id="search-form" id="search-form" action="https://www.google.com/#q=site:https://publu.herokuapp.com">
    <input  id="search-input" type="text" name="search" maxlength="255" placeholder="git, css, javascript,..."/>
  </form>
</section>